@charset "utf-8";
/* CSS Document */

body{margin:0; padding:0; font:11px Verdana, Geneva, sans-serif; color:#000; }

.left{float:left}
.right{float:right}
.clear{clear:both}


.main{
/*
F5F5FA
8D5FB8
*/

/*background: -webkit-gradient(linear, left top, right top, from(#8D5FB8), to(#FCADA9));
background: -moz-linear-gradient(left top, #8D5FB8, #FCADA9 );
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#8D5FB8, endColorStr=#FCADA9, GradientType=1);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8D5FB8, endColorstr=#FCADA9, GradientType=1)";*/

min-height:180px;
/*padding-bottom:10px*/
}
  /*
  .wrapper{width:995px; margin:0 auto}
   */
/*.wrapper{width:100%; margin:0 auto}  

.header{height:10px}*/
.wrapper{width:100%; margin:0 ; padding:0}  

.header{height:0px}

.curvebox{
background:#FFF; 
/*-moz-border-radius:7px; 
-webkit-border-radius:7px; 
-moz-box-shadow: 0px 0px 15px #051b1c;
-webkit-box-shadow: 0px 0px 15px #051b1c;
box-shadow: 0px 0px 15px #051b1c;
border:2px solid #3586a3;*/
behavior: url(ie-css3.htc); 
position:relative; 
z-index:10;
}

.curvebox .headerimage{background:url(../images/headerbg.png) -1px 0; height:34px}
.curvebox .buttons-section{background:#f0f0f0; border-bottom:1px solid #e7e7e7; margin-bottom:1px; display:none;} /*display:none;*/

.container{margin:0; padding:0; width:100%; border-collapse:collapse;}
.container .leftside{vertical-align:top; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; width:100px;   }
.container .rightside{width:0px; background:#FFF; border-left:1px solid #e7e7e7; vertical-align:top}
.container .middle{vertical-align:top; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-align:left;   }

.leftnavigation{margin:0; padding:0}
.leftnavigation ul{margin:0; padding:0; list-style:none}
.leftnavigation ul li{display:block; border-bottom:1px solid #FFF}
.leftnavigation ul li a{padding:8px 10px 8px 30px; display:block; color:#868686; font-weight:bold; text-decoration:none}
.leftnavigation ul li a:hover{background-color:#a0d4dc; color:#000}

/*.button{margin:0; padding:0; display:block; float:left; color:#FFF; font-weight:bold; font-size:10px;}
.button span{display:block; float:left; background:url(../images/buttons.png); height:27px; padding-left:20px; line-height:27px}
.button em{display:block; float:left; background:url(../images/buttons.png) 20px 0; height:27px; width:20px}
.button:hover span{text-decoration:underline; background:url(../images/hover.png)}
.button:hover em{background:url(../images/hover.png) 20px 0}*/

.button{margin:0; padding:0;  float:left; display:block; background:#ecedf2; color:#878588; font-weight:bold; text-decoration:none;}
.button span{display:block; background:url(../images/btnbg.jpg); border:1px solid #104d7a; -moz-border-radius:3px; -webkit-border-radius:3px;  height:22px; padding:0 5px 0 7px; line-height:22px; behavior: url(ie-css3.htc); position:relative; z-index:10;}
.button input{display:block; background:url(../images/btnbg.jpg); border:1px solid #104d7a; -moz-border-radius:3px; -webkit-border-radius:3px;  height:22px; padding:0 5px 0 7px; line-height:22px; behavior: url(ie-css3.htc); position:relative; z-index:10; color:#878588; font-weight:bold; cursor:pointer}
.button:active span{background:url(../images/hover.jpg);}
.button:active input{background:url(../images/hover.jpg);}

.buttons-section{padding:10px}
.buttons-section a{margin-right:5px; margin-bottom:5px; color:#000; font-weight:bold; text-decoration:none; display:block; line-height:23px; padding-left:21px; float:left; padding-right:2px}
/*.buttons-section a:hover{text-decoration:underline}
.buttons-section a.home{background:url(../images/icons.png) 0 0 no-repeat;}
.buttons-section a.scheduler{background:url(../images/icons.png) 0 -34px no-repeat; padding-left:25px}
.buttons-section a.patient{background:url(../images/icons.png) 0 -217px no-repeat;}
.buttons-section a.chart{background:url(../images/icons.png) 0 -254px no-repeat;}
.buttons-section a.disease{background:url(../images/icons.png) 0 -295px no-repeat;}
.buttons-section a.care{background:url(../images/icons.png) 0 -330px no-repeat;}
.buttons-section a.referral{background:url(../images/icons.png) 0 -370px no-repeat;}
.buttons-section a.administration{background:url(../images/icons.png) 0 -70px no-repeat;}
.buttons-section a.editor{background:url(../images/icons.png) 0 -413px no-repeat;}
.buttons-section a.setup{background:url(../images/icons.png) 0 -465px no-repeat;}
*/
/*
.home-ico{background:url(../images/icons.png) 4px 3px no-repeat; }
.sheduler-ico{background:url(../images/icons.png) 2px -32px no-repeat;}
.man-ico{background:url(../images/icons.png) 4px -102px no-repeat;}
.chart-ico{background:url(../images/icons.png) 2px -139px no-repeat;}
.hl7-ico{background:url(../images/icons.png) 4px -177px no-repeat;}
*/
.form{margin:0; padding:5px 0; border-collapse:collapse}
.form td{padding:2px; vertical-align:top; font-size:10px}
.form td.leftside1{width:75px; text-align:right; vertical-align:middle}
.form td .combobox{width:300px}
.form .imageprofile{border:1px solid #c7e0e7; width:100px; height:100px; background:#FFF}
.form .space input{margin-right:7px}
.form .formfield p{margin:0; padding:0; float:left}
.form .formfield p.bigfield label{width:180px; line-height:17px}
.form .formfield p input{float:left}
.form .formfield p select{float:left}
.form .formfield p label{float:left; display:block; margin-top:3px; padding-right:6px; }
.form .formfield p span{float:left; padding:0 5px; display:block; line-height:20px}
.form .textbox{width:292px}

.headertext{/*0098E1*/background:#9D4F00; padding:5px 10px; font-size:11px; font-weight:bold; color:#FFFFFF; margin-bottom:0px;
 /*-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;*/ 
}
.headertext  a{ color:#FFFFFF;
}


.combobox{-moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #c7e0e7; padding:2px 3px; font:10px Verdana, Geneva, sans-serif; margin:0; behavior: url(ie-css3.htc); position:relative; z-index:10;}
.textbox{border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #c7e0e7; padding:3px 3px; font:10px Verdana, Geneva, sans-serif; margin:0; behavior: url(ie-css3.htc); position:relative; z-index:10;}
.button1{background:#DDD; border:1px solid #777; width:102px; cursor:pointer}
.button2{background:#d4eaf0; -moz-border-radius:4px; -webkit-border-radius:4px; border:1px solid #b1d1da; height:25px; width:165px; font:bold 10px Verdana, Geneva, sans-serif; color:#6896a3; behavior: url(ie-css3.htc); position:relative; z-index:10;}
.button2:hover{text-decoration:underline}

.buttons-section1{padding-bottom:5px}
.buttons-section1 input{margin-bottom:3px; cursor:pointer}

.form1{margin:0; padding:5px 0 8px 0}
.form1 table{border-collapse:collapse}
.form1 table td{padding:2px;}

.footerbutton{margin:0; padding:0; height:30px}
.footerbutton .button{margin:4px}

.breadcrumb{padding:5px}
.breadcrumb a{padding-right:2px; color:#069; text-decoration:none}
.breadcrumb a:hover{text-decoration:underline}
.breadcrumb span{padding-right:2px}




















.headertextsection{margin:0; padding:0}
.headertextsection label{padding:0 10px; float:left; display:block;}
.headertextsection span{padding:0 20px 0 0; font-weight:normal; display:block; float:left; width:120px}
.headertextsection .space1{margin-bottom:10px}

.tablelist{margin:0; padding:0}
.tablelist ul{margin:0; padding:0; list-style:none}
.tablelist ul li{float:left; width:380px; border:1px solid #9ec4ce; margin:0 5px 10px 5px; box-shadow:0 0 5px #DDD}
.tablelist ul li .scroll{height:130px; overflow:auto}
.tablelist ul li .listheader{background:#d4eaf0; height:25px; padding:3px 10px; color:#457885; font-size:11px; font-weight:bold; line-height:25px}
.tablelist ul li .listheader a{float:right; color:#888; font-size:10px; text-decoration:none; background:url(../images/btnbg.jpg); display:block; height:22px; padding:0 8px; margin-left:2px; border:1px solid #AAA; line-height:22px}
.tablelist ul li table{width:100%; border-collapse:collapse}
.tablelist ul li table th{
background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
background: -moz-linear-gradient(top, #FFF, #EEE);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#EEEEEEEE);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#EEEEEEEE)";	
padding:5px 3px;
color:#777;
border:1px solid #DDD;
}

.tablelist ul li table td{
padding:5px 3px;
color:#777;
border:1px solid #DDD;
}



/* added by mizanur */
.buttonSaw{
width:70px;
}


/*
.buttonS{ border:#FF9900 1px solid; color:#FFFFFF; 	font-weight:bold; cursor:pointer;padding:3px; background:#CC9900;}
.buttonSa a{ border:#FF9900 1px solid; 
color:#FFFFFF; font-size:10px;
font-weight:bold; 
cursor:pointer;padding:1px; background:#000066; padding-left:10px; padding-right:10px; 
text-decoration:none;


}





.submit{ border:#FF9900 1px solid; 
color:#FFFFFF; font-size:15px;
font-weight:bold; 
cursor:pointer;padding:1px; background:#000066; padding-left:10px; padding-right:10px; 
text-decoration:none;


}


*/



.FlashMessageDiv{
position:fixed; 
left:35%; top:0; 
background:#FC0; 
color:#000;
padding:3px;
}





.style2 {color: #FFFFFF}
.style4 {
	color: #CCFF66;
	font-weight: bold;
	text-decoration:none;
}

.style1 {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.listTable tr:hover{
background-color:#DDEEFF;

}
.listTable tr{
margin:4px;background-color:#FDFDFD;
}
/*.border td{  border-bottom:1px solid #bebebe; border-left:1px solid #bebebe; text-align:left; padding-left:5px; height:30px;}*/
.border td{  border-bottom:1px solid #CCCCCC; border-top:1px solid #FFFFFF; border-left:1px solid #bebebe; text-align:left; padding-left:5px; height:25px;}



.borderTitle td{  border-bottom:1px solid #bebebe; border-left:1px solid #bebebe; text-align:center; height:20px; background:#FFFFA4;/*C4ECFF*/}
.headertext1{background:#0099FF; white-space:775px; height:25px;}
.middle1{width:700px; }
.listTable{ border-top:1px solid #bebebe; border-right:1px solid #bebebe;width:100%;    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.statusDD{ height:17px; margin-top:2px; margin-bottom:2px; font-size:10px; border:none;}
.formsection{
background:#EFEFEF;/**/
margin:5px;
padding:5px;
border:1px solid #BEBEBE;/*B0D8FF*/
}
.cFielSet{ width:160px;   }
.cLegend{ color:#003046; font-weight:bold; font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.cLegendOSL{ color:#666666; font-weight:bold;}
.formClass tr>td{ border-top:0px; border-right:0px ;border-bottom:0px; border-left:0px ; text-align:left; padding-left:5px;}
.leftnavigation{ display:none;}
.actionLink{ width:80px;}
.iButton{
background:#CCCCCC;
color:#333333;
font-weight:bold;
font-size:12px;
}
.listHeader
{
color:#9D4F00; font-size:20px; font-weight:bold; background:#EAEAEA; margin:-1px 0px 0px 0px; padding:1px 2px 1px 5px ; font-style:normal;/*0052A4*/
}

.searchB{
background-color:#EEEEEE; padding:5px;/* -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;*//*C4ECFF*/ 

}
.ddList{
margin-top:-3px; height:20px;
}
.tArea{
border: 1px solid #8DC8F3; width:200px; height:30px;


}
.tField{
border: 1px solid #8DC8F3; width:100px; height:20px; margin:3px;

}
 
/* added by mizanur end */



.addressTextArea{ color:#666666; border:1px solid #BFBFBF; width:300px; height:90px; font-size:14px;}
.addressTextArea:hover{color:#000000; background-color:#FFFFEA;}
.newSelectBox{border:1px solid #BFBFBF; padding:2px; width:250px; font-size:13px;}
.newSelectBox:hover{border:1px solid #0072A8;}

.newSelectBox:focus{border:1px solid #0072A8;}



.dtpk{cursor:pointer; background-color:#F4F4F4; /*padding:2px;*/ color:#005EBB; font-size:13px; width:100px; font-weight:bold;background:#FFFFE1;}
.dtpk:hover{ border:1px solid #0984FF;}

.dtpk:focus{ background:#FFFFE1;}


.dt{cursor:default; background-color:#F4F4F4; padding:2px; color:#005EBB; font-size:13px; width:100px; font-weight:bold;}

.timePick{cursor:pointer; background-color:#F4F4F4; padding:2px; color:#005500; font-size:13px; width:100px; font-weight:bold;}

.bigTextBox{ padding:5px; width:290px; height:20px;border:1px solid #BFBFBF; font-size:15px; color:#666666;}
.bigTextBox:hover{border:1px solid #0072A8;/*0072A8*/ color:#1D1D1D;}

.bigTextBox:focus{border:1px solid #0072A8; background:#ECFFFF;}

.newEntryLink{ text-decoration:none; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#178BFF; font-style:italic; text-transform:lowercase;}
.mTextBox{width:60px;}
.centerAlign tr th{text-align:center;}
.centerAlign tr td{text-align:center;}
.SelectBox{border:1px solid #BFBFBF; padding:1px; font-size:12px;}
.newFrmTble td{ text-align:left;}
.leftAlign{text-align:left;}
.insText{ text-transform:lowercase; font-style:italic; font-size:11px; color:#003F7D;}
.smallTextBox{ width:50px;}
.buttonLink{ text-decoration:none; padding:3px; background-color:#006CD9; font-weight:600; font-size:12px; cursor:pointer; color:#FFFFFF; border:1px solid #0F0F0F;}
.buttonLink:hover{background:#005CB9; color:#FFFFFF; margin:1px;}
.bigTextBoxSm{padding:5px; width:112px; height:20px;border:1px solid #BFBFBF; font-size:15px; color:#666666;}
.bigTextBoxSm:hover{border:1px solid #0072A8; color:#1D1D1D;}

.bigTextBoxSm.:focus{border:1px solid #0072A8;}





.searchReset{ border:1px solid #0058B0; padding:3px; text-decoration:none; cursor:pointer; background:#0080FF; color:#FFFFFF; font-size:11px; font-weight:bold;}
.searchReset:hover{background:#0058B0; color:#FFFFFF; margin:1px;}

.searchButton{ border:1px solid #0058B0; padding:3px; text-decoration:none; cursor:pointer; background:#0080FF; color:#FFFFFF; font-size:11px; font-weight:bold;}
.searchButton:hover{background:#0058B0; color:#FFFFFF; margin:1px;}

.editButton{ text-decoration:none; background:#008000; padding:1px; color:#FFFFFF;}
.deleteButton{text-decoration:none; background:#CC0000; padding:1px; color:#FFFFFF;}
.otherButton{text-decoration:none; background:#356A6A; padding:1px; color:#FFFFFF;}
.viewButton{text-decoration:none; background:#0078F0; padding:1px; color:#FFFFFF;}
.otherButton1{text-decoration:none; background:#5B5BFF; padding:1px; color:#FFFFFF;}

.headertext a{ color:#000000;}

/*.addButton{ padding:3px; text-decoration:none; color:#FFFFFF; background-color:#292929;border:1px solid #8D8D8D; font-size:11px;}
.addButton:hover{ padding:3px; text-decoration:none; background-color:#535353;border:1px solid #8D8D8D; font-size:11px; margin:1px;}
*/

.addButton{padding:2px; text-decoration:none; background-color:#FFFFFF;border:1px solid #CCCCCC; font-size:11px; 
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.addButton:hover{ padding:2px; text-decoration:none; background-color:#999999;border:1px solid #000000; font-size:11px;margin:1px;}



 .refreshButton{padding:2px; text-decoration:none; background-color:#FFFFFF;border:1px solid #CCCCCC; font-size:11px; 
 -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.refreshButton:hover{ padding:2px; text-decoration:none; background-color:#999999;border:1px solid #000000; font-size:11px;margin:1px;} 
 
.readonly{ background:#F4F4F4; color:#000000;}

.paginationDiv{padding:5px; font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif;}
.paginationDiv b{color:#000000; border:1px solid #B6B6B6; padding:1px 5px 1px 5px;}

.paginationDiv a{color:#0093D9; text-decoration:none; border:1px solid #B6B6B6; padding:1px 5px 1px 5px; font-weight:bold;}

.boldText{ font-weight:bold;}

.submit{
		border:1px solid #b7b7b7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 2px 5px 2px 5px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #000000; background-color: #d3d3d3;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
		background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
		background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
		background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
		background-image: -o-linear-gradient(top, #d3d3d3, #707070);
		background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
		}
		
		.submit:hover{
		border:1px solid #a0a0a0; background-color: #bababa;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), top(#575757));
		background-image: -webkit-linear-gradient(top, #bababa, #575757);
		background-image: -moz-linear-gradient(top, #bababa, #575757);
		background-image: -ms-linear-gradient(top, #bababa, #575757);
		background-image: -o-linear-gradient(top, #bababa, #575757);
		background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
		}

.textarea{border:1px solid #DFEFFF; width:300px;border:1px solid #BFBFBF;}
.textarea:hover{border:1px solid #0072A8;}
.textarea:focus{border:1px solid #0072A8; background:#FFFFD7;}

.textareaBig{ width:450px; height:150px;}

.listImg{ cursor:pointer;border:1px solid #FFFFFF; width:50px; height:50px;}
.listImg:hover{ border:1px solid #0088CA;}

.pdfLink{ font-weight:bold; text-decoration:none; color:#006697;}


.footer_link{ text-decoration:none; color:#393e23; line-height:34px;}

.f_bg {
    background: url("../images/ft.png") repeat scroll -1px 0 rgba(0, 0, 0, 0);
    height: 34px;
}

.searchB input[type="text"] {
    border:1px solid #666666;
}

.searchSelectWidth{width:102px;}

.searchSelectWidthSm{width:80px;}

.cFielSets{ margin-bottom:5px;}


.listTable td { text-align:center;}

input[type='file'] {
	
    border-radius: 5px;
    color: #666666;
    font-family: "Marmellata", sans-serif;
    padding: 2px;
    font-size: 12px;
    margin-bottom: 20px;
    width: 240px;
    vertical-align: top;
    margin-top: 0px;
}

.pWidth{ width:250px;}
.pWidthBig{ width:400px;}

.doc-link{ text-decoration:none; color:#3E9EFF;}
.doc-link:hover{ text-decoration:underline; color:#0070DF;}